* {
		box-sizing: border-box;
		font-family:"Comic Sans MS", cursive, sans-serif;
   }
body {
  background-image: url("vllogo.png"),url("backgroundbw60.png"); 
  background-size: 35% , cover;
  background-position: 50% 1% , left top; 
  background-repeat: no-repeat, no-repeat;
  background-color: black;
  z-index: 0;  
   }
h1 {
	text-align:center;
	font-size:175%;
  margin-top:20%;
	margin-bottom: 40px;
  color:rgb(115,101,64);
}
p {
  font-size: 100%;
  background-color: none;
  color: rgb(115,101,64);
  text-align:left;
  height: 200px;
  overflow: auto;
 }
section {
  padding: 40px 15px 15px 15px;
  margin: 2% 2% 2% 2%;
  border: 0px solid black;
  float: left;
  position: relative;
  background-color: none;
  animation: myborder 5s infinite;
  animation-direction: alternate;
  
 }

 @keyframes myborder {
  0% {border-color:none;}
  90% {border-color:none;}
  100% {border-color: rgb(115,101,64);}
 }

.row {
  width: 100%;

}

.title {
  position: absolute;
  top:0;
  right:0;
  width:50%;
  border: 0px solid black;
  border-top-width:0px;
  border-right-width:0px;
  text-align:center;
  font-size:125%;
  
}

.chicken {
  background-color: none;
  color:rgb(115,101,64);
}

.beef {
  background-color: none;
  color:rgb(115,101,64);
 }

.sushi {
  background-color: none;
  color:rgb(115,101,64);
}


/********** Desktop device **********/
@media (min-width: 992px) 
{
  .col-lg-4 {
    width: 29%;
  }
}

/********** Tablet device **********/
@media (min-width: 768px) and (max-width: 991px)
{
  .col-md-6 {
    width: 46%;
  }
  .col-md-12 {
    width: 96%;
  }
}
/********** Mobile device **********/
@media (max-width: 767px)
{
  .col-sd-12 {
    width: 96%;
  }
}